<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bootstrap Case</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <style>
      body { padding-top: 70px; }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-fixed-top navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
        <a class="navbar-brand" href="#">WebSiteName</a>
        </div>
        <div>
          <!--<ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Page 1</a></li>
            <li><a href="#">Page 2</a></li>
            <li><a href="#">Page 3</a></li>
          </ul>-->
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="jumbotron">
        <div class="row">
          <div class="col-sm-8 col-md-8">
            <h1>Docteur Julie Tricot</h1>
            <h2>Médecine générale</h2>
            <h2>Lesve</h2>
            <p><a class="btn btn-success btn-lg" href="#" role="button">Réserver</a></p>
          </div>
          <div class="col-sm-4 col-md-4">
            <img src="profil.jpeg">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6 col-md-4">
          <div class="panel panel-primary">
            <div class="panel-heading"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Prendre un rendez-vous</div>
            <div class="panel-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eget suscipit leo, sit amet aliquam lectus. Suspendisse id malesuada massa, et scelerisque nisl. Mauris malesuada non sapien eu laoreet. Donec hendrerit sem in dolor dictum mollis. Aenean dignissim arcu nec pharetra interdum.</p>
              <p><a class="btn btn-success" href="#" role="button">Réserver</a></p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="panel panel-primary">
            <div class="panel-heading"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Informations</div>
            <div class="panel-body">
              <p><span class="glyphicon glyphicon-time" aria-hidden="true"></span> <b> Horaires :</b></p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eget suscipit leo, sit amet aliquam lectus. Suspendisse id malesuada massa, et scelerisque nisl. Mauris malesuada non sapien eu laoreet. Donec hendrerit sem in dolor dictum mollis. Aenean dignissim arcu nec pharetra interdum.</p>
              <p><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> <b> Adresse :</b></p>
              <p><a href="http://maps.google.com/?q=>Rue du centre, 33 b2 5170 - Lesve">Rue du centre, 33 b2 <br> 5170 - Lesve</a></p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="panel panel-primary">
            <div class="panel-heading"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> Me rappeler mes rendez-vous</div>
            <div class="panel-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eget suscipit leo, sit amet aliquam lectus.</p>
              <p><a class="btn btn-info" href="#" role="button">Voir</a></p>
            </div>
          </div>
          <div class="panel panel-primary">
            <div class="panel-heading"><span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span> Annuler un rendez-vous</div>
            <div class="panel-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eget suscipit leo, sit amet aliquam lectus.</p>
              <p><a class="btn btn-danger" href="#" role="button">Annuler</a></p>
            </div>
          </div>
        </div>
      </div>  
    </div>
  </body>
</html>

