<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bootstrap Case</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <style>
      body { padding-top: 70px; }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-fixed-top navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
        <a class="navbar-brand" href="#">WebSiteName</a>
        </div>
        <div>
          <!--<ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Page 1</a></li>
            <li><a href="#">Page 2</a></li>
            <li><a href="#">Page 3</a></li>
          </ul>-->
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="input-group">
            <input type="text" class="form-control input-lg" placeholder="Chercher votre médecin"><span class="input-group-btn "><button class="btn btn-default btn-lg" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></button></span>
          </div>
        </div>
      </div>
      <p></p>
      <div class="row">
        <div class="col-sm-3">
          <div class="thumbnail">
            <p style="text-align:center;"><img src="profil.jpeg"></p>
            <p style="text-align:center;">Docteur Julie Tricot</p>
            <p style="text-align:center;">Médecine générale</p>
            <p  style="text-align:center;">Lesve</p>
            <p style="text-align:center;"><a class="btn btn-info" href="#" role="button">Plus d'infos</a></p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="thumbnail">
            <p style="text-align:center;"><img src="profil.jpeg"></p>
            <p style="text-align:center;">Docteur Alyssia Ferraresse</p>
            <p style="text-align:center;">Médecine générale</p>
            <p style="text-align:center;">Ixelles</p>
            <p style="text-align:center;"><a class="btn btn-info" href="#" role="button">Plus d'infos</a></p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="thumbnail">
            <p style="text-align:center;"><img src="profil.jpeg"></p>
            <p style="text-align:center;">Docteur Claire Gheurs</p>
            <p style="text-align:center;">Médecine générale</p>
            <p style="text-align:center;">Woluwé-Saint-Etienne</p>
            <p style="text-align:center;"><a class="btn btn-info" href="#" role="button">Plus d'infos</a></p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="thumbnail">
            <p style="text-align:center;"><img src="profil.jpeg"></p>
            <p style="text-align:center;">Docteur Céline bombeck</p>
            <p style="text-align:center;">Médecine d'urgence</p>
            <p style="text-align:center;">La Louvière</p>
            <p style="text-align:center;"><a class="btn btn-info" href="#" role="button">Plus d'infos</a></p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

